.Resume {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.Resume-header {
  display: flex;
  justify-content: space-between;
}
.Resume-header-name {
  margin-top: 40px;
  margin-left: 20px;
}
.resume-Body {
  margin-top: 50px;
}
.resume-Body-Experience h3,
.resume-Body-Skills h3,
.resume-Body-Education h3 {
  color: #2953f3;
}
.resume-Body {
  display: flex;
  justify-content: space-between;
}
.resume-body-Experience-card {
  margin-top: 40px;
}
.resume-Body-Education {
  margin-top: 50px;
}
.resume-body-education-card {
  margin-top: 40px;
}

.testdiv {
  height: 2px;
  width: 100%;
  background-color: rgb(156, 151, 151);
}
